/******************************************************************
Site Name:
Author:

Stylesheet: Typography

Need to import a font or set of icons for your site? Drop them in
here or just use this to establish your typographical grid. Or not.
Do whatever you want to...GOSH!

Helpful Articles:
http://trentwalton.com/2012/06/19/fluid-type/
http://ia.net/blog/responsive-typography-the-basics/
http://alistapart.com/column/responsive-typography-is-a-physical-discipline

******************************************************************/


/*********************
FONT FACE (IN YOUR FACE)
*********************/

/*  To embed your own fonts, use this syntax
  and place your fonts inside the
  library/fonts folder. For more information
  on embedding fonts, go to:
  http://www.fontsquirrel.com/
  Be sure to remove the comment brackets.
*/

/*  @font-face {
      font-family: 'Font Name';
      src: url('../fonts/font-name.eot');
      src: url('../fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('../fonts/font-name.woff') format('woff'),
             url('../fonts/font-name.ttf') format('truetype'),
             url('../fonts/font-name.svg#font-name') format('svg');
      font-weight: normal;
      font-style: normal;
  }
*/
@font-face {
    font-family: 'AdelleRegular';
    src: url('../fonts/adelle-regular-webfont.eot');
    src: url('../fonts/adelle-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/adelle-regular-webfont.woff2') format('woff2'),
         url('../fonts/adelle-regular-webfont.woff') format('woff'),
         url('../fonts/adelle-regular-webfont.ttf') format('truetype'),
         url('../fonts/adelle-regular-webfont.svg#AdelleRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AdelleLight';
    src: url('../fonts/adelle-light-webfont.eot');
    src: url('../fonts/adelle-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/adelle-light-webfont.woff2') format('woff2'),
         url('../fonts/adelle-light-webfont.woff') format('woff'),
         url('../fonts/adelle-light-webfont.ttf') format('truetype'),
         url('../fonts/adelle-light-webfont.svg#AdelleLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AdelleBold';
    src: url('../fonts/adelle-bold-webfont.eot');
    src: url('../fonts/adelle-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/adelle-bold-webfont.woff2') format('woff2'),
         url('../fonts/adelle-bold-webfont.woff') format('woff'),
         url('../fonts/adelle-bold-webfont.ttf') format('truetype'),
         url('../fonts/adelle-bold-webfont.svg#AdelleBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AdelleItalic';
    src: url('../fonts/adelle-italic-webfont.eot');
    src: url('../fonts/adelle-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/adelle-italic-webfont.woff2') format('woff2'),
         url('../fonts/adelle-italic-webfont.woff') format('woff'),
         url('../fonts/adelle-italic-webfont.ttf') format('truetype'),
         url('../fonts/adelle-italic-webfont.svg#AdelleItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AdelleLightItalic';
    src: url('../fonts/adelle-lightitalic-webfont.eot');
    src: url('../fonts/adelle-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/adelle-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/adelle-lightitalic-webfont.woff') format('woff'),
         url('../fonts/adelle-lightitalic-webfont.ttf') format('truetype'),
         url('../fonts/adelle-lightitalic-webfont.svg#AdelleLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AdelleBoldItalic';
    src: url('../fonts/adelle-bolditalic-webfont.eot');
    src: url('../fonts/adelle-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/adelle-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/adelle-bolditalic-webfont.woff') format('woff'),
         url('../fonts/adelle-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/adelle-bolditalic-webfont.svg#AdelleBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BambolaRegular';
    src: url('../fonts/bambola-webfont.eot');
    src: url('../fonts/bambola-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bambola-webfont.woff2') format('woff2'),
         url('../fonts/bambola-webfont.woff') format('woff'),
         url('../fonts/bambola-webfont.ttf') format('truetype'),
         url('../fonts/bambola-webfont.svg#BambolaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*
The following is based of Typebase:
https://github.com/devinhunt/typebase.css
I've edited it a bit, but it's a nice starting point.
*/


// font stacks
$sans-serif:        "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif:             "Georgia", Cambria, Times New Roman, Times, serif;

/*
 i imported this one in the functions file so bones would look sweet.
 don't forget to remove it for your site.
*/
$lato:			'Lato', $sans-serif;
$roboto:		'Roboto Slab',$serif;
$adelle:		'AdelleRegular','Roboto Slab',$serif;
$bambola:	'BambolaRegular';
$oswald:		Oswald, $sans-serif;
$raleway:		Raleway, $sans-serif;
/*$oswald:		'Yanone Kaffeesatz', $sans-serif;*/

@mixin adelle {
	font-family:$adelle;
	letter-spacing:1px;
}

/*
some nice typographical defaults
more here: http://www.newnet-soft.com/blog/csstypography
*/
p {
  -ms-word-break: break-all;
  -ms-word-wrap: break-all;
      word-break: break-word;
     word-break: break-word;
  // cleaning up the ragged lines and breaks
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
  // sets a minimum number of characters before and after the break
  -webkit-hyphenate-before: 2;
   -webkit-hyphenate-after: 3;
           hyphenate-lines: 3;
  // enabling fancy ligatures when available
  -webkit-font-feature-settings: "liga", "dlig";
   -moz-font-feature-settings: "liga=1, dlig=1";
      -ms-font-feature-settings: "liga", "dlig";
       -o-font-feature-settings: "liga", "dlig";
          font-feature-settings: "liga", "dlig";
}

