/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
	width:1016px;
}


/*********************
POSTS & CONTENT STYLES
*********************/


.hard-columns {
	width:350px;
	float:right;
	.owl-nav {
		display:block;
	}
}

/******************************************************************
GALLERY STYLES
******************************************************************/

.gallery {
	.gallery-item {
		width:244px;
	}
}


/******************************************************************
PAGE STYLES
******************************************************************/

body.page-template-page-standard-php {
	#content {
		.page-header {
			height:230px;
			position:relative;
			h1 {
				font-size:230px;
				position:absolute;
				top:-20px;
				left:-35px;
			}
		}
		#main {
			&:after {
				@include clearfix;
			}
			.section-content {
				float:left;
				margin:0 50px 25px 0;
				.hard-columns {
					.section-icon {
						&.multi-column {
							display:none;
						}
						&.single-column {
							display:block;
						}
					}
				}
			}
			.featured {
				float:left;
				margin-bottom:40px;
				width:556px;
				margin-right:50px;
			}
			.speedo-container {
				position:relative;
				margin-top:40px;
				width:652px;
				height:460px;
				h2 {
					width:100%;
					text-align:center;
					position:absolute;
					left:0;
					top:-40px;
					margin:0;
					color:#fff; 
				}
				.hover {
					position:absolute;
					opacity:0;
					@include transition(all .2s);
					&:hover {
						opacity:1;
					}
				}
				.generator-warning {
					left:278px;
					top:8px;
				}
				.high-beam {
					left:228px;
					top:8px;
				}
				.left-turn {
					left:105px;
					top:75px;
				}
				.neutral-gear {
					left:327px;
					top:8px;
				}
				.oil-pressure {
					left:378px;
					top:8px;
				}
				.right-turn {
					left:502px;
					top:70px;
				}
				.spotlight {
					left:110px;
					top:146px;
				}
			}
		}
	}
}