/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
GENERAL STYLES
*********************/
html.cyclegarden {
	margin-top:0 !important;
}
html, body {
	height:100%;
}
body {
	font-family:$adelle;
	font-size:100%;
	line-height:1.5;
	color:$text-color;
	background-color:#000;
	-webkit-font-smoothing:antialiased;
	&.lock {
		overflow:hidden;
	}
}

/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

.rtl {}                           /* for sites that are read right to left (i.e. hebrew) */
.home {}                          /* home page */
.blog {}                          /* blog template page */
.archive {}                       /* archive page */
.date {}                          /* date archive page */
	.date-paged-1 {}                /* replace the number to the corresponding page number */
.search {}                        /* search page */
	.search-results {}              /* search result page */
	.search-no-results {}           /* no results search page */
	.search-paged-1 {}              /* individual paged search (i.e. body.search-paged-3) */
.error404 {}                      /* 404 page */
.single {}                        /* single post page */
	.postid-1 {}                    /* individual post page by id (i.e. body.postid-73) */
	.single-paged-1 {}              /* individual paged single (i.e. body.single-paged-3) */
.attachment {}                    /* attatchment page */
	.attachmentid-1 {}              /* individual attatchment page (i.e. body.attachmentid-763) */
	.attachment-mime-type {}        /* style mime type pages */
.author {}                        /* author page */
	.author-nicename {}             /* user nicename (i.e. body.author-samueladams) */
	.author-paged-1 {}              /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {}                      /* category page */
	.category-1 {}                  /* individual category page (i.e. body.category-6) */
	.category-paged-1 {}            /* replace the number to the corresponding page number */
.tag {}                           /* tag page */
	.tag-slug {}                    /* individual tag page (i.e. body.tag-news) */
	.tag-paged-1 {}                 /* replace the number to the corresponding page number */
.page-template {}                 /* custom page template page */
	.page-template-page-php {}      /* individual page template (i.e. body.page-template-contact-php */
	.page-paged-1 {}                /* replace the number to the corresponding page number */
	.page-parent {}                 /* parent page template */
	.page-child {}                  /* child page template */
	.parent-pageid-1 {}             /* replace the number to the corresponding page number */
.logged-in {}                     /* if user is logged in */
.paged {}                         /* paged items like search results or archives */
	.paged-1 {}                     /* individual paged (i.e. body.paged-3) */

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	margin:0 30px;
}

/*********************
LINK STYLES
*********************/

a {
	color: $link-color;

	/* on hover */
	&:hover {
		color: $link-hover;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	font-weight: 500;
	margin-top:0;
	/*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 2.5em;
	line-height: 1.333em;
}

h2, .h2 {
	font-size: 1.75em;
	line-height: 1.4em;
	margin-bottom: 0.375em;
}

h3, .h3 {
	font-size: 1.125em;
}

h4, .h4 {
	font-size: 1.1em;
	font-weight: 700;
}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

p {
	margin-top:0;
}

/*********************
HEADER STYLES
*********************/

.header {
	text-align:center;
	background-color:rgba(0,0,0,.9);
	position:fixed;
	top:0;
	width:100%;
	height:75px;
	z-index:2;
	@include transition(height  275ms);
	body.scrolled & {
		height:45px;
	}
}
@keyframes scrollanimation {
	0% {
		height:4px;
	}
	50% {
		height:20px;
	}
	100% {
		height:4px;
	}
}

#logo, .logo {
	margin:0;
	padding:10px 0; 
	font-family:$bambola;
	@include transition(transform  275ms);
	body.scrolled & {
		@include transform(translateY(-100%));
	}
	a {
		color: $white;
		z-index:9999;
		position:relative;
	}
}

/*********************
NAVIGATION STYLES
*********************/

/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/
.nav {
	border-bottom: 0;
	margin: 0;

	li {

		a {
			display: block;
			color: $white;
			text-decoration: none;
			padding: 0.75em;

			/*
			remember this is for mobile ONLY, so there's no need
			to even declare hover styles here, you can do it in
			the style.scss file where it's relevant. We want to
			keep this file as small as possible!
			*/
			&:hover, &:focus {

			}
		}

		&:first-child {}

		&:last-child {}

		/*
		so you really have to rethink your dropdowns for mobile.
		you don't want to have it expand too much because the
		screen is so small. How you manage your menu should
		depend on the project. Here's some great info on it:
		http://www.alistapart.com/articles/organizing-mobile/
		*/
		ul.sub-menu,
		ul.children {

			li {

				a {
					padding-left: 30px;

					&:hover,
					&:focus {}

					&:link {}

				}

				&:first-child {}

				&:last-child {}

			}

		}

	} /* end .menu li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current-page-ancestor {

		a {}

	}  /* end current highlighters */

} /* end .nav */

.trigger-nav-ov {
	color:#fff !important;
	text-decoration:none;
	font-family:$oswald;
	text-transform:uppercase;
	position:fixed;
	left:20px;
	top:25px;
	font-size:17px;
	z-index:9998;
	@include transition(top .275ms);
	&.active {
		background:rgba(0,0,0,.9);
		@include box-sizing;
		height:75px;
		margin:-24px 0 0 -20px;
		padding:24px 0 0 24px;
		width:100%;
	}
	& > span {
		float:left;
		height:24px;
		line-height:24px;
	}
	body.scrolled & {
		top:10px;
	}
	.ic {
		margin-right:10px;
		@include box-sizing;
		padding-top:5px;
		@include transition(all 275ms);
		& > span {
			background:#fff;
			@include border-radius(1px);
			display:block;
			height:3px;
			margin-bottom:3px;
			@include transition(all 275ms);
			width:22px;
		}
	}
	.title {
		display:none;
		opacity:1;
		@include transition(all 500ms);
		position:absolute;
		bottom:-17px;
		left:0;
		font-size:8px;
		letter-spacing:1px;
	}
	&.active {
		.ic {
			@include transform(rotate(-45deg));
			& > span {
				&.bar-1 {
					@include transform(translateY(6px));
				}
				&.bar-2 {
					opacity:0;
				}
				&.bar-3 {
					@include transform(rotate(-90deg) translateX(5px));
				}
			}
		}
		.title {
			opacity:0;
		}
	}
}

.nav-ov {
	position:fixed;
	overflow:auto;
	width:100%;
	height:100%;
	z-index:-1;
	vertical-align:middle;
	font-size:18px;
	font-family:$oswald;
	font-weight:300;
	letter-spacing:2px;
	text-transform:uppercase;
	color:#fff;
	text-align:center;
	opacity:0;
	@include transform(scale(.9));
	@include transition(all .2s);
	background-color:rgba(0,0,0,.9);
	&.open {
		z-index:9997;
		opacity:1;
		@include transform(scale(1));
		padding-top:75px;
	}
	a {
		&:hover {
			text-decoration:none !important;
		}
	}
	nav {
		padding-bottom:80px;
		min-height:100%;
		.dummy {
			& > a {
				display:none;
				height:0 !important;
			}
			& > .sub-menu {
				padding-top:0;
				padding-bottom:0;
			}
		}
		a {
			text-decoration:none;
			padding:0 30px !important;
			overflow:hidden;
		}
		& > ul {
			/* height:100%; */
			& > li {
				float:none;
				/* height:20%; */
				&:first-child {
					/* height:40%; */
					& > a {
						/* height:50%; */
					}
				}
				& > a {
					height:55px;
					line-height:55px;
					font-weight:400;
					font-size:20px;
					background:#666666;
					/* height:100%; 
					line-height:100%; */
					position:relative;
					& > span {
						display:block;
						& > span {
							font-size:10px;
							width:100%;
							position:absolute;
							left:0;
							bottom:-18px;
							font-weight:300;
						}
					}
				}
				&.nav-eye-candy {
					& > a > span {
						@include transform(translateY(-10%));
					}
				}
				.sub-menu {
					padding:15px 0 20px;
					text-align:left;
					display:block;
					visibility:visible;
					float:none;
					position:static;
					background:none;
					border:0;
					margin:0;
					/* height:50%; */
					.nav-head {
						/* height:100%; */
						& > a {
							height:55px;
							line-height:55px;
							font-weight:400;
							font-size:20px;
							background:#666666;
							height:100%;
							text-align:center;
							& > span {
								display:block;
								/* @include v-center; */
							}
							&:hover {
								background:#666666;
							}
						}
					}
					.nav-subhead {
						& > a {
							font-size:20px;
							background:#222;
						}
					}
					& > li {
						float:none;
						& > a {
							height:40px;
							line-height:40px;
							width:auto;
							border:0;
							/* height:0; */
							/* line-height:0; */
							@include transition(all .25s);
							&:hover {
								background:#333;
							}
						}
					}
					&.active {
						& > li {
							& > a {
								height:55px;
								line-height:55px;
							}
							&.nav-info-item a {
								/* height:0;
								line-height:0; */
							}
							&.nav-head a {
								/* height:75px;
								line-height:75px; */
							}
						}
					}
				}
			}
		}
	}
}


/*********************
POSTS & CONTENT STYLES
*********************/

#content {
	margin-top:75px;
}

.hentry {
	margin-bottom: 1.5em;

	header {
		border-bottom: 1px solid $light-gray;
	}

	footer {
		border-top: 1px solid $light-gray;

		p {
			margin: 0;
		}
	}

} /* end .hentry */

.single-title,
.page-title,
.entry-title {
	margin: 0;
}

.single-title {}

.page-title {}

.entry-title {}

.archive-title {}

/* want to style individual post classes? Booya! */
.post-id {}         /* post by id (i.e. post-3) */
.post {}            /* general post style */
.page {}            /* general article on a page style */
.attachment {}      /* general style on an attatchment */
.sticky {}          /* sticky post style */
.hentry {}          /* hentry class */
.category-slug {}   /* style by category (i.e. category-videos) */
.tag-slug {}        /* style by tag (i.e. tag-news) */

/* post meta */
.byline {
	color: $meta-gray;
	font-style: italic;
	margin: 0;

	time {}
}

/* entry content */
.entry-content {

	p {
		margin: 0 0 1.5em;
	}


	ul, ol, table, dl {}

	ul, ol {

		li {}

	}

	ul {

		li {}

	}

	ol {

		li {}

	}

	table {
		width: 100%;
		border: 1px solid $gray;
		margin-bottom: 1.5em;

		caption {
			margin: 0 0 7px;
			font-size: 0.75em;
			color: $meta-gray;
			text-transform: uppercase;
			letter-spacing: 1px;
		}
	}

	tr {
		border-bottom: 1px solid $gray;

		&:nth-child(even) {
			background-color: $light-gray;
		}
	}

	td {
		padding: 7px;
		border-right: 1px solid $gray;

		&:last-child {
			border-right: 0;
		}
	}

	th {
		background-color: $light-gray;
		border-bottom: 1px solid $gray;
		border-right: 1px solid $gray;

		&:last-child {
			border-right: 0;
		}
	}

	blockquote {
		margin: 0 0 1.5em 0.75em;
		padding: 0 0 0 0.75em;
		border-left: 3px solid $blue;
		font-style: italic;
		color: $meta-gray;

		&:before {}

	}

	dl {}

	dt {}

	dd {
		margin-left: 0;
		font-size: 0.9em;
		color: #787878;
		margin-bottom: 1.5em;
	}

	img {
		margin: 0 0 1.5em 0;
		max-width: 100%;
		height: auto;
	}

	/*
	image alignment on a screen this size may be
	a bit difficult. It's set to start aligning
	and floating images at the next breakpoint,
	but it's up to you. Feel free to change it up.
	*/
	.alignleft, img.alignleft {}
	.alignright, img.alignright {}
	.aligncenter, img.aligncenter {}

	.size-auto,
	.size-full,
	.size-large,
	.size-medium,
	.size-thumbnail {
		max-width: 100%;
		height: auto;
	}

	pre {
		background: $black;
		color: $light-gray;
		font-size: 0.9em;
		padding: 1.5em;
		margin: 0 0 1.5em;
		@include border-radius(3px);
	}

} /* end .entry-content */

.wp-caption {
	max-width: 100%;
	background: #eee;
	padding: 5px;

	/* images inside wp-caption */
	img {
		max-width: 100%;
		margin-bottom: 0;
		width: 100%;
	}

	p.wp-caption-text {
		font-size: 0.85em;
		margin: 4px 0 7px;
		text-align: center;
	}

} /* end .wp-caption */

/* image gallery styles */
.gallery {

	dl {

		a {}

		img {}

	}

	dt {}

	dd {}

} /* end .gallery */

/* gallery caption styles */
.gallery-caption {}

.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}

// the tag output
.tags {
	margin: 0;
}

.pretty-boxes {
	.pretty-box {
		background:url(../images/bg-home-about.jpg);
		color:#000;
		margin:0 -20px 10px;
		padding:8px;
		.pretty-box-inner {
			border:2px solid #a5acb4;
			padding:10px 15px 20px;
		}
		h2 {
			text-align:center;
			font-family:$oswald;
			font-size:24px;
			line-height:24px;
			text-transform:uppercase;
			span {
				text-transform:none;
				color:#b08e05;
				font-family:bambola;
				font-size:20px;
				display:block;
			}
		}
		.thumb-container {
			position:relative;
			height:auto;
			text-align:center;
			margin:20px 0;
			img {
				max-width:100%;
				height:auto;
				display:inline-block;
			}
		}
		.features {
			font-size:13px;
			line-height:30px;
			& > li {
				padding-left:20px;
				background:url(../images/ic-check.png) left 0 no-repeat;
				line-height:1.2em;
				margin-bottom:10px;
			}
		}
		h3 {
			font-size:13px;
			margin-bottom:10px;
		}
		.notes {
			font-size:11px;
			margin-bottom:15px;
		}
		.deals {
			text-align:center;
			font-size:18px;
			font-family:$oswald;
			p {
				margin-bottom:0;
			}
			.price {
				font-size:24px;
			}
		}
		.actions {
			margin-top:20px;
			text-align:center;
		}
	}
	&:after {
		@include clearfix;
	}
}

.hard-columns {
	/*letter-spacing:1px;*/
	line-height:28px;
	line-height:1.75em;
	font-size:13px;
	text-align:justify;
	.owl-nav {
		display:none;
	}
	.owl-prev, .owl-next {
		@include transition(all .5s);
		opacity:0;
		font-family:$raleway;
		font-size:11px;
		font-weight:bold;
		line-height:1em;
		letter-spacing:2px;
		text-transform:uppercase;
		position:relative;
		padding:16px 0;
		&:after {
			content:"";
			display:block;
			width: 0; 
			height: 0; 
			border-top:5px solid transparent;
			border-bottom:5px solid transparent;
			position:absolute;
			top:50%;
			margin-top:-5px;
		}
		&.active {
			opacity:1;
		}
	}
	p {
		margin-bottom:15px;
	}
	.owl-prev {
		float:left;
		padding-left:12px;
		&:after {
			border-right:5px solid #ebe9e1;
			left:0;
		}
	}
	.owl-next {
		float:right;
		padding-right:12px;
		&:after {
			border-left:5px solid #ebe9e1;
			right:0;
		}
	}
	.owl-dots {
		text-align:center;
		.owl-dot {
			display:inline-block;
			/* margin:0 8px;*/
			padding:15px;
			& > span {
				display:block;
				background:#fff;
				opacity:.5;
				@include transition(all .5s);
				width:13px;
				height:13px;
				@include border-radius(50%);
			}
			&.active {
				& > span {
					opacity:1;
				}
			}
		}
	}
}

.btn {
	display:inline-block;
	font-family:$raleway;
	font-weight:bold;
	text-transform:uppercase;
	text-decoration:none;
	letter-spacing:1px;
	color:#fcf8e7;
	background:#556273;
	border:1px solid #bdbdb4;
	position:relative;
	z-index:1;
	font-size:13px;
	height:28px;
	line-height:28px;
	padding:0 12px;
	&:after {
		content:"";
		position:absolute;
		top:-3px;
		bottom:-3px;
		left:-3px;
		right:-3px;
		border:2px solid #556273;
		z-index:0;
	}
	&:hover {
		color:#fff;
		opacity:.9;
	}
}

.vid-embed-dummy {
	display:none;
	& > iframe {
		display:none;
	}
}



/******************************************************************
VARIOUS NON-SEMANTIC STYLES
******************************************************************/
.alignleft {
	float:left;
	margin:0 20px 10px 0;
}
.crop-circle {
	border-radius:50%;
}
.text-dark {
	color:#000;
}

/******************************************************************
GALLERY STYLES
******************************************************************/

.gallery {
	margin-right:-4%;
	.gallery-item {
		padding:2px;
		float:left;
		margin:0 2% 2% 0;
		width:46%;
		position:relative;
		a {
			outline:none;
			img {
				margin:0;
				display:block;
				max-width:100%;
				height:auto;
			}
		}
		.gallery-caption {
			position:absolute;
			left:0;
			bottom:0;
			padding:5px 10px;
			background:rgba(0,0,0,.6);
			@include box-sizing;
			width:100%;
			color:#fff;
			opacity:0;
			@include transition(all .25s);
		}
		&:hover {
			.gallery-caption {
				opacity:1;
			}
		}
	}
	&:after {
		@include clearfix;
	}
}


/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {
	margin: 1.5em 0;
}
	.pagination{
    text-align: center;

    ul {
      display: inline-block;
      background-color: $white;
      white-space: nowrap;
      padding: 0;
      clear: both;
      @include border-radius(3px);
    }

    li {
      padding: 0;
      margin: 0;
      float: left;
      display: inline;
      overflow: hidden;
      border-right: 1px solid $gray;
    }

    a, span {
      margin: 0;
      text-decoration: none;
      padding: 0;
      line-height: 1em;
      font-size: 1em;
      font-weight: normal;
      padding: 0.75em;
      min-width: 1em;
      display: block;
      color: $blue;

      &:hover, &:focus {
      	background-color: $blue;
      	color: $white;
      }
    }

    .current{
    	cursor: default;
    	color: $text-color;

    	&:hover, &:focus {
    		background-color: $white;
    		color: $text-color;
    	}
    }

  } /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul {}

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */

/******************************************************************
COMMENT STYLES
******************************************************************/

/* h3 comment title */
#comments-title {
	padding: 0.75em;
	margin: 0;
	border-top: 1px solid $light-gray;

	/* number of comments span */
	span {}

}

.comment-nav {

	ul {

		li {}

	}
}


.commentlist {
	margin: 0;
	list-style-type: none;
}

.comment {
	position: relative;
	clear: both;
	overflow: hidden;
	padding: 1.5em;
	border-bottom: 1px solid $light-gray;

	.comment-author {
		padding: 7px;
		border: 0;
	}

	/* vcard */
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			display: block;
			font-size: 0.9em;
			font-style: italic;

			a {
				color: $meta-gray;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		.photo {}

		.avatar {
			position: absolute;
			left: 16px;
			@include border-radius(50%);
		}

	} /* end .commentlist .vcard */

	&:last-child {
		margin-bottom: 0;
	}

	.children {
		margin: 0;

		li {}

			/* variations */
			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           /* change number for different depth */
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

	} /* end children */


	&[class*=depth-] {
		margin-top: 1.1em;
	}

	&.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	&:not(.depth-1) {
		margin-top: 0;
		margin-left: 7px;
		padding: 7px;
	}

	&.depth-2 {}
	&.depth-3 {}
	&.depth-4 {}
	&.depth-5 {}

	/* general comment classes */
	&.alt {}
	&.odd {
		background-color: $white;
	}
	&.even {
		background: $light-gray;
	}
	&.parent {}
	&.comment {}
	&.children {}
	&.pingback {}
	&.bypostauthor {}
	&.comment-author {}
	&.comment-author-admin {}
	&.thread-alt {}
	&.thread-odd {}
	&.thread-even {}
}




	/* comment meta */
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	/* comment content */
	.comment_content {

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} /* end .commentlist .comment_content */

	/* comment reply link */
	.comment-reply-link {
		@extend .blue-btn;
		font-size: 0.9em;
		float: right;

		&:hover,
		&:focus {
		}

	} /* end .commentlist .comment-reply-link */

	/* edit comment link */
	.comment-edit-link {
		font-style: italic;
		margin: 0 7px;
		text-decoration: none;
		font-size: 0.9em;
	}



/******************************************************************
COMMENT FORM STYLES
******************************************************************/

.comment-respond {
	@extend .cf;
	border-top: 1px solid $light-gray;
}

	#reply-title {
		margin: 0;
	}

	.logged-in-as {
		color: $meta-gray;
		font-style: italic;
		margin: 0;

		a {
			color: $text-color;
		}
	}

	.comment-form-comment {
		margin: 1.5em 0 0.75em;
	}

	.form-allowed-tags {
		padding: 1.5em;
		background-color: $light-gray;
		font-size: 0.9em;
	}

	/* comment submit button */
	#submit {
		@extend .blue-btn;
		float: right;
		font-size: 1em;
	}

	/* comment form title */
	#comment-form-title {
		margin: 0 0 1.1em;
	}

	/* cancel comment reply link */
	#cancel-comment-reply {
		a {}
	}

	/* logged in comments */
	.comments-logged-in-as {}

	/* allowed tags */
	#allowed_tags {
		margin: 1.5em 10px 0.7335em 0;
	}

	/* no comments */
	.nocomments {
		margin: 0 20px 1.1em;
	}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {}

	.widgettitle {}

	.widget {

		ul {

			li {

				&:first-child {}

				&:last-child {}

				a {}

				/* deep nesting */
				ul {}

			}

		}

	}

	.no-widgets {
		background-color: $white;
		padding: 1.5em;
		text-align: center;
		border: 1px solid $border-color;
		@include border-radius(2px);
		margin-bottom: 1.5em;
	}

/*********************
FOOTER STYLES
*********************/

.footer {
	clear: both;
	background-color: $black;
	color: $light-gray;
}

	/*
	if you checked out the link above:
	http://www.alistapart.com/articles/organizing-mobile/
	you'll want to style the footer nav
	a bit more in-depth. Remember to keep
	it simple because you'll have to
	override these styles for the desktop
	view.
	*/
	.footer-links {

		ul {

			li {}

		}

	} /* end .footer-links */


	.copyright {}

/*********************
OV STYLES
*********************/
	
.ui-widget-overlay {
	background:rgba(0,0,0,.95);
	left:0;
	position:fixed;
	top:0;
	width:100%;
	height:100%;
	z-index:9999;
}
.ov {
	display:none;
}
.ov-wrap {
	background:#000;
	position:fixed !important;
	z-index:9999;
	&.gallery-item-ov-wrap {
		left:50% !important;
		top:50% !important;
		height:auto !important;
	}
	&.video-ov-wrap {
		left:0 !important;
		top:0 !important;
		@include box-sizing;
		.video-ov {
			background:#111 url(../images/loading-111_777.gif) no-repeat 50% 50%;
			iframe {
				max-width:100%;
				max-height:100%;
			}
		}
		.ui-dialog-titlebar .ui-dialog-titlebar-close .ui-icon {
			top:10px;
			right:10px;
		}
	}
	.ui-dialog-titlebar {
		position:absolute;
		top:0;
		right:0;
		.ui-dialog-titlebar-close {
			background:none;
			border:none;
			display:block;
			width:40px;
			height:40px;
			position:absolute;
			right:0;
			top:0;
			z-index:1;
			.ui-button-text {
				display:none;
			}
			.ui-icon {
				box-shadow:0 0 4px 2px rgba(0,0,0,.5);
				background:rgba(0,0,0,.5) url(../images/ic.png) no-repeat;
				width:18px;
				height:18px;
				position:absolute;
				right:0;
				top:0;
			}
		}
	}
	.gallery-item-ov {
		position:relative;
		.actions {
			position:absolute;
			left:0;
			top:0;
			height:100%;
			width:100%;
			a {
				text-indent:-9999px;
				height:100%;
				width:50%;
				outline:none;
				&.prev {
					float:left;
					cursor:url(http://www.cyclegarden.com/wp-content/themes/cyclegarden-bones/library/css/cursor-prev.png),url(cursor-prev.png),pointer;
				}
				&.next {
					float:right;
					cursor:url(http://www.cyclegarden.com/wp-content/themes/cyclegarden-bones/library/css/cursor-next.png),url(cursor-next.png),pointer;
				}
				&.disabled {
					cursor:default;
				}
			}
		}
	}
}

/*********************
PAGE STYLES
*********************/
body.home {
	.trigger-nav-ov {
		top:25px;
	}
	#logo {
		background-color:rgba(0,0,0,.9);
		position:fixed;
		z-index:2;
		width:100%;
		top:-75px;
		@include transition(all 275ms);
		@include transform(none);
	}
	&.scrolled #logo {
		top:0;
	}
	.logo {
		padding:0;
	}
	.header {
		@include transform(none !important);
		height:100%;
		background:url(../images/headbg.png);
		position:static;
		z-index:auto;
		video {
			display:none;
		}
		.inner-header {
			@include v-center;
			.logo-home {
				max-width:100%;
				img {
					max-width:100%;
					display:inline-block;
				}
				span {
					text-indent:-9999px;
					display:inline-block;
				}
			}
			.hours {
				display:none;
				width:85%;
				margin:0 auto;
				th {
					color:#c2b786;
					font-family:$oswald;
					text-transform:uppercase;
					font-weight:normal;
					width:14.25%;
				}
				td {
					vertical-align:top;
					color:#fff;
					font-size:14px;
					width:14.25%;
					hr {
						border:0;
						height:1px;
						margin:7px auto 5px;
						display:block;
						background:rgba(255,255,255,.3);
						width:10px;
					}
				}
			}
		}
		.scroller {
			width:30px;
			height:50px;
			border-radius:14px;
			border:2px solid #fff;
			opacity:.8;
			position:absolute;
			bottom:15px;
			left:50%;
			margin-left:-17px;
			@include box-sizing;
			@include transition(all 500ms);
			&:hover {
				opacity:1;
			}
			&:before {
				content:"";
				background:#fff;
				width:4px;
				height:4px;
				position:absolute;
				top:8px;
				left:50%;
				margin-left:-2px;
				border-radius:4px;
				animation:2s ease 0s normal none infinite running scrollanimation;
			}
		}
	}
	#content {
		margin:0;
	}
	.carousel-block {
		margin-top:31px;
		&:before {
			content:"";
			display:block;
			height:31px;
			position:relative;
			top:-20px;
			background:url(../images/hr-moto.png) no-repeat 50% 50%;
		}
		.owl-carousel {
			.owl-item {
				text-align:center;
				height:150px;
				& > div {
					@include v-center;
					img {
						display:inline;
						width:auto;
						max-width:100%;
					}
				}
			}
		}
	}
}
body.page-template-page-parallax-php {
	#content {
		& > section {
			padding:30px 0;
			background-size:100% auto;
			background-position:50% 0;
			position:relative;
			&.bg-parallax:after {
				background:rgba(0, 0, 0, 0.4);
				content:"";
				display:block;
				height:100%;
				left:0;
				position:absolute;
				top:0;
				width:100%;
			}
			&.bg-parallax > * {
				position:relative;
				z-index:1;
			}
			&.bg-repeat {
				background-size:auto;
				background-position:0% 0%;
				background-repeat:repeat;
			}
		}
	}
}
body.page-template-page-standard-php {
	background:#000;
	#content {
		.page-header {
			padding:10px 10px 20px;
			h1 {
				font-family:$oswald;
				text-transform:uppercase;
				line-height:1em;
				text-align:center;
				color:rgba(243,244,230,.23);
				font-weight:bold;
			}
		}
		.content-head {
			.featured {
				margin-bottom:10px;
				img {
					max-width:100%;
				}
				.hover {
					display:none;
				}
				.speedo-container {
					h2 {
						display:none;
					}
				}
			}
			.section-content {
				color:#ebe9e1;
				font-size:14px;
				h2 {
					font-weight:bold;
					font-size:24px;
				}
				.hard-columns {
					&.raw {
						position:absolute;
						opacity:0;
						width:800px;
					}
					.section-icon {
						&.multi-column {
							display:none;
						}
						float:left;
						margin:0 10px 5px 0;
						width:60px;
					}
				}
			}
		}
		.content-gallery {
			.section-content {
				margin:0 -20px;
			}
		}
	}
}
body.page-template-page-gallery-php {
	background:#000;
	#content {
		#main {
			width:auto;
			padding:0;
			.hentry {
				header, footer {
					border:0;
				}
			}
		}
	}
}


html body div#wpadminbar {
	border-bottom:1px solid #444;
	z-index:9999 !important;
	& > .wpadminbar-activator {
		display:block;
		position:absolute;
		left:0;
		bottom:-15px;
		height:15px;
		width:30px;
		text-indent:-9999px;
		@include box-sizing;
		@include css-gradient($from: #222, $to: #111, $vstart:"top", $vend:"bottom");
		@include border-radius(0 0 5px 5px);
		border:1px solid #444;
		border-top:0;
		cursor:pointer;
		&:after {
			content:"";
			border-style:solid;
			border-color:#444 transparent;
			border-width:5px 5px 0;
			position:absolute;
			margin-left:-5px;
			left:50%;
			top:5px;
		}
	}
	&.wpadminbar-shown {
		& > .wpadminbar-activator {
			display:none;
		}
	}
} 